body{
	margin: 0;
	padding: 0;
}

.contenedor{
	width: 70%;
	margin: 0 auto;
}

header{
	background: #e46d9b;
	overflow: hidden;
}


header:before, header:after,
footer:before, footer:after,
.contenedor:before, .contenedor:after{
  content:"";
  display: table;
}

header:after, footer:after, .contenedor:after{
  clear: both;
}
h1{
	margin: 0;
}

h1 img{
	margin-top: 25px;
}

nav ul li{
	list-style: none;
	float: right;
	margin-top: -65px;
}

.custom-select{
  font-size: 17px;
  margin-left: 25px;
  border: none;
  padding: 5px;
  background-color: #562461;
  color: white;
  outline: none;
  margin-top: -10px;
}

.slider{
  background-image: url(./img/slider.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.info{
  display: block;

}

.sep{
  margin-top: 30px;
}

.info h2{
 color: white;
 font-size: 30px;
 margin: 0;
}
.info p{
  color: white;
  font-size: 20px;
  font-weight: bold;
margin-bottom: 8px;
    margin-top: 40px;
}

.opti{
  display: block;
  margin: 0 auto;
  padding: 10px;
  background: #562461;
  color: white;
  font-weight: bold;
  outline: none;
  font-size: 23px;
  margin-top: 30px;
}

.col{
  margin: auto;
  list-style: none;
  padding:10px;
  box-sizing:border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.col li{
  margin-bottom: 10px;
}

.card h2{
  text-align: center;
  color: #562461;
    margin-top: 50px;
}

.col-2{
  margin: auto;
  list-style: none;
  padding:10px;
  box-sizing:border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
}

.col-2 h3{
  margin: 0;
  color: #562461;
  font-size: 18px;
  font-weight: lighter;
}

.local h2{
    text-align: center;
  color: #562461;
  margin-top: 50px;
}

.map img{
  width: 100%;
  margin-bottom: 30px;
}

.info img{
  margin-top: 50px;
  margin-bottom: 80px;
}

.info h2, p{
  position: relative;
  top: 50px;
}
footer{
  padding:30px;
  background-color: #c0497f;
}

